
*{
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    background-image: linear-gradient(#010629e7, #2737b0e7) ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: white;
    padding: 35px 30px;
    width: 400px;
    /* height: 45vh; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

h3{
    margin-bottom: 12px;
    color: rgb(49, 47, 47);
    font-weight: 500;
}

label{

    font-weight: 500;
}

input{
    font-size: 13px;
    margin-bottom: 13px;
    padding: 5px;
}

input[type="submit"]{
    background-color: #3441a1e7;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px;
    margin: 10px 0 ;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s;
}   

input[type="submit"]:hover{
    background-color: #0a1ca4e7;
    transition: all 0.3s;
}

#email:focus, #senha:focus{
    box-shadow: 0 0 4px 0 #0a1ca4e7;
}

#email, #senha{
    border: 1px solid #bebaba;
    border-radius: 5px;
}

.esqueciSenha{
    display: flex;
    font-size: 13px;
    flex-direction: row;
    justify-content: space-between;
}

.esqueciSenha > a{
    text-decoration: none;
    transition: color 0.3s;
}

.esqueciSenha > a:hover{
    color: orange;
    transition: color 0.3s;
}

p{
    font-size: 12px;
}

p > a{
    text-decoration: none;
    transition: color 0.3s;
}

p > a:hover{
    color: orange;
    transition: color 0.3s;
}

@media (max-width: 450px){
    form{
        width: 90%;
        height: auto;
    }
}