*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --cor-body: #291131;
    --cor-form1: #4D2652;
    --cor-form2: #615797;
}
 

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-body);
}

.user_icon{
    width: 130px;
    height: 130px;
    background-color: #6b4e558e;
    border-radius: 50%;
    display: flex;
    justify-content: center;  
    align-items: center;
    margin: 20px auto;
}
.user_icon i{
    font-size: 70px;
    color:  #d7bcc268;
}

form{
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: none; 
    border-radius: 35px;
    box-shadow: 0px 0px 10px 3px #00000045;
    padding: 40px;
    background: linear-gradient(125deg, var(--cor-form1), var(--cor-form2)80%);
}

input[type="email"], input[type="password"]{
    padding: 9px 9px 9px 35px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ddd;
    background-color: transparent;
    color: #ddd;
    font-size: 16px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 18px;
 }

input[type="email"]{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23ddd" stroke-width="2"><rect x="2" y="4" width="20" height="16" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>');
}

input[type="password"]{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23ddd" stroke-width="2"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"/><path d="M7 11V7a5 5 0 0 1 10 0v4"/></svg>');
}

 input[type="email"]::placeholder, input[type="password"]::placeholder{
    color: #ccc;
 }

 div#remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ddd;
    font-size: 12px;
 }

 div#remember a{
    color: #ddd;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
 }

 div#remember a:hover{
    /* text-decoration: underline; */
    color: #291131;
    transition: all 0.2s ease-in-out;
 }

 input[type="checkbox"]{
    margin-right: 7px;
 }

form input[type="submit"]{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #291131, #631d7a);
    color: #ddd;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form input[type="submit"]:hover{
    background: linear-gradient(90deg, #631d7a, #291131);
    transition: all 0.3s ease-in-out;
}