* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* pode trocar por outra imagem de fundo se quiser */
    background: url('https://images.unsplash.com/photo-1514565131-fce0801e5785?q=80&w=2156&auto=format&fit=crop') no-repeat center center/cover;
}

.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4); /* Escurece um pouco o fundo */
}

.login-box {
    background: rgba(255, 255, 255, 0.05); /* Efeito Vidro */
    backdrop-filter: blur(15px);
    padding: 50px 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 400px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-bottom: 5px;
}

.underline {
    width: 60px;
    height: 2px;
    background: #00d2ff;
    margin: 0 auto 40px;
    box-shadow: 0 0 10px #00d2ff;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group span {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px 20px 12px 45px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #1c6b8a;
    border-radius: 25px;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #00d2ff;
    box-shadow: 0 0 10px rgba(0, 210, 255, 0.5);
}

.input-group input::placeholder {
    color: #ccc;
    font-size: 13px;
}

.btn-login {
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #1c6b8a;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 0 20px rgba(0, 210, 255, 0.4);
    transition: 0.3s;
}

.btn-login:hover {
    background: #00d2ff;
    box-shadow: 0 0 30px rgba(0, 210, 255, 0.7);
}

.forgot-pass {
    display: block;
    color: #ccc;
    text-decoration: none;
    font-size: 13px;
    margin: 20px 0;
}

.btn-signup {
    background: transparent;
    border: 1px solid #1c6b8a;
    color: #fff;
    padding: 8px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-signup:hover {
    background: rgba(28, 107, 138, 0.2);
    border-color: #00d2ff;
}