@charset "UTF-8";

/*
    Paleta de cores:
    Verde: #49a09d
    Lilás: #5f2c82

*/

*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    outline: none;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
   height: 100vh; 
   width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    /* padding: 5px 10px; */
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.556);

    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;

}

section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/plano.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: right bottom; 
}  

section#login > div#formulario{
    padding: 10px;
    display: block;

}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

form > div.campo{
    background-color: #5f2c82;
    width: 100%;
    height: 37px;
    border-radius: 5px;
    margin: 5px 0;
    padding-left: 4px;

}

 
div.campo > label{
    display: none;
}
div#formulario > p{
    font-size: 0.8em;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 37px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
    margin: 25px 0 0 0 ;
}

form > input[type=submit]:hover{
    background-color: #367875;
    transition: all 0.3s;
    cursor: pointer;
}

#formulario > p{
    margin-bottom: 20px;
}


.campo input[type="email"]{  /* Foi só pra testar a especificidade do CSS, alterar depois */
    width: 96%;
    height: 100%;
    border-radius: 5px;
    border: transparent;
    padding: 5px;
}

.campo input[type=email]:focus{
    border:1px solid #5f2c82;
}

.campo input[type="password"]{  
    width: 95.5%;
    height: 100%;
    border-radius: 5px;
    border: transparent;
    padding: 5px;
}

.campo input[type="password"]:focus{
    border:1px solid #5f2c82;
}

.fa-user, .fa-key{
    color: rgb(189, 185, 185);
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 37px;
    background-color: white;
    border: 1px solid #49a09d;
    color: #367875;
    border-radius: 5px;
    margin-top: 5px;
    line-height: 37px;
    text-decoration: none;
}

form > a.botao > i{
    font-size: 0.8em;
    transition: all 0.4s;
}

form > a.botao:hover{
    background-color: #64e2dc;
    transition: all 0.4s;
}



/* Typical Device Breakpoints
-----------------------------
Pequenas Telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: Acima de 1200px
*/


/* Versão celular */
@media (max-width: 767px){

    form > div.campo{
        background-color: #5f2c82;
        width: 96%;
        padding-left: 4px;   
    }

    .campo input[type="email"] {   
        width: 100%;
        height: 100%;
         
    }

     .campo input[type="password"]{
        width: 100%;
        height: 100%;
     }

     .fas.fa-user, .fas.fa-key{
       display: none;
    }

    #formulario > p{
        margin-bottom: 10px;
    }
    
    form > input[type=submit]{
        margin: 14px 0 0 0;
    }
    

}

/* Versão Tablet */

@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login{
        width: 80vw;
    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
       float: right;
       width: 70%;
    }

    form > div.campo{
        background-color: #5f2c82;
        width: 96%;
        padding-left: 4px;
        padding-right: 0px;
    
    }

    .campo input[type="email"] {   
        width: 95%;
        height: 100%;
    }

     .campo input[type="password"]{
        width: 94.5%;
        height: 100%;
     }

}


/* Telas Grandes */
@media screen and (min-width: 993px){

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login{
        width: 990px;
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
     }

     div#formulario > p{
        font-size: 1.2em;
    }

    div#formulario > h1{
        font-size: 2em;
    }
}